<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Site_RegistrationApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetaVersion">
        <activity android:name="com.example.Site_RegistrationApp.MyVisitors"></activity>
        <activity android:name="com.example.Site_RegistrationApp.RegisterYourSite" />
        <activity android:name="com.example.Site_RegistrationApp.Credits" />
        <activity android:name="com.example.Site_RegistrationApp.MyProfile" />
        <activity android:name="com.example.Site_RegistrationApp.Barcode" />
        <activity android:name="com.example.Site_RegistrationApp.Settings" />
        <activity android:name="com.example.Site_RegistrationApp.MyVisits" />
        <activity android:name="com.example.Site_RegistrationApp.Register_Activity" />
        <activity android:name="com.example.Site_RegistrationApp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Site_RegistrationApp.CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>